---
import { getPartners } from "../lib/getPartners";
const { lang, translations } = Astro.props;

let partners = [];

try {
  partners = await getPartners();
} catch (error) {
  console.error("[Partenaires]", error);
}

const partnersLoop = [...partners, ...partners];
---
<section class="partners-section"><br/>
  <h2>{translations.partenaires.title}</h2>
  <div class="container">
    <div class="partners-slider">
      <div class="partners-track">
        {
          partnersLoop
            .filter((partner) => partner.logo || partner.url_logo)
            .map((partner, index) => (
            <div class="partner-item" key={index}>
              <a
                href={partner.url_site}
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  src={partner.logo || partner.url_logo}
                  alt={partner.name}
                  loading="lazy"
                />
              </a>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>

<style>
  /* ========= DESKTOP FIRST ========= */
  .partners-section {
    background-color: #f3f3f3;
    text-align: center;
    overflow: hidden;
  }

  .container {
    width: 100%;
    margin: 0 auto;
    padding: 40px 20px;
    max-width: 1200px;
  }

  h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
  }

  .partners-slider {
    display: flex;
    overflow: hidden;
    width: 100%;
    position: relative;
  }

  .partners-track {
    display: flex;
    width: max-content;
    animation: scrollLeft 50s linear infinite;
  }

  .partner-item {
    flex: 0 0 auto;
    margin: 0 15px;
  }

  .partner-item img {
    max-width: 220px;
    height: auto;
    max-height: 100px;
    object-fit: contain;
    border-radius: 8px;
    transition: transform 0.3s ease;
  }

  .partner-item img:hover {
    transform: scale(1.05);
  }

  /* ========= RESPONSIVE ========= */
  @media (max-width: 1024px) {
    h2 {
      font-size: 2rem;
      text-align: center;
    }

    .partner-item img {
      max-width: 180px;
      max-height: 80px;
    }
  }

  @media (max-width: 600px) {
    .partners-track {
      animation-duration: 70s; /* ralentit le scroll */
    }

    .partner-item img {
      max-width: 140px;
      max-height: 60px;
    }
  }

  /* ========== ANIMATION ========== */
  @keyframes scrollLeft {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
</style>
